<h2>List of ratings</h2>

  <p>Total of <%= Rating.count %> ratings given</p>

  <ul>
  <% @ratings.each do |rating| %>
    <li> <%= rating %> <%= link_to rating.user.username, user_path(rating.user.id) %></li>
  <% end %>
  </ul>

<br>

<% if current_user %>
 <%= link_to 'New Rating', new_rating_path %>
<% end %>